body {width: 100%;
    margin:auto;}
h1 {font-family: Verdana;
    width: 100%;
    margin:auto;}
.instagram1{font-size: 16px; margin-left: 40%;}
.instagram2{font-size: 14px; margin-right: 30%; color: lightskyblue; }
.img {text-align: center; background-color: #ffffff;}
.tat {font-size: 24px;padding-left: 50px;}
.sup {font-size: 14px ; background-color: rgb(101, 210, 247); color: white;}
.basic {font-family: 'Times New Roman';
text-align: center;
direction: ltr;} 
.number {font-weight: bolder;}
.basic1 {font-family: 'Times New Roman';
    text-align: center}
    div {display: inline-block;
    text-align: center;
    width: 100%;
    margin: auto;}
