body {width: 100%;
    margin:auto;}
nav {width:100%;
margin: auto;}
.th1 {text-align: left;
font-size: 24pt;
padding-left: 35%;}
.th3 {color: aqua;}
.poisk {text-align: center;}
.img {text-align: center; background-color: hsl(0, 0%, 100%);}
.tat {font-size: 24px;padding-left: 50px;}
.sup {font-size: 14px ; background-color: rgb(101, 210, 247); color: white;}
.basic {font-family: 'Times New Roman';
text-align: center;
direction: ltr;} 
.number {font-weight: bolder;}
.basic1 {font-family: 'Times New Roman';
    text-align: center}
    div { text-align: center;
        width: 100%;
    margin: auto;}
    figure {font-display: center;
        text-align: center;}
